<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <id class="main heading">
            <logo class="blog"></logo>
            <div class="box"></div>
            <link class="social">
        </div>

        <div class="present">
            <h3>Top Stories</h3>
            <div class="pic-one"></div>
            <div class="pic-two"></div>
            <div class="pic-three"></div>
        </div>

        <div class="article-one">
            <div class="con-one">
            <header class="h-one"></header>
            <article class="a-one"></article>
            <footer class="sub-one"></footer>
            </div>
        </div>

        <div class="article-two">
            <div class="con-two">
                <header class="h-two"></header>
                <article class="a-two"></article>
                <footer class="sub-two"></footer>
                </div>
        </div>

        <div class="top-story"></div>
        <div class="interest"></div>
        <div class="archieves"></div>
        <div class="tag"></div>

        <footer class="main">
            <header class="f-title"></header>
            <div class="item-one"></div>
            <div class="item-two"></div>
            <div class="item-three"></div>
            <div class="item-four"></div>
            <footer class="sub"></div>
        </footer>
    </div>
</body>
</html>